
<!---->



<!DOCTYPE html>
<html lang="en">

<head>
    
<meta name="description" content="We offer professional full kitchen installation service including Removing an old kitchen, electrical work, plumbing work and minor building works." />
<title>Full Kitchen Installation Services near You | Expert Fitters</title>

<!---->
	<meta name="referrer" content="no-referrer-when-downgrade">
	
	
	<link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" rel="stylesheet">
	<script crossorigin="anonymous" integrity="sha384-ZvpUoO/+PpLXR1lu4jmpXWu80pZlYUAfxl5NsBMWOEPSjUn/6Z/hRTt8+pR6L4N2" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script crossorigin="anonymous" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<meta name="vapid-key" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="shortcut icon" type="image/png" href="/static/imgs/favicon.png">
	<link rel="stylesheet" href="/static/CACHE/css/output.56105e633c06.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="canonical" href="https://tkckitchens.co.uk/installationservice/">

	
	<meta name=”twitter:url” content="https://tkckitchens.co.uk/installationservice/" />
	<meta property="og:url" content="https://tkckitchens.co.uk/installationservice/" />
	<meta property="og:title" content="Full Kitchen Installation Services near You | Expert Fitters" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="We offer professional full kitchen installation service including Removing an old kitchen, electrical work, plumbing work and minor building works." />
	<meta property="og:locale" content="en_GB" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="Full Kitchen Installation Services near You | Expert Fitters" />
	<meta name="twitter:description" content="We offer professional full kitchen installation service including Removing an old kitchen, electrical work, plumbing work and minor building works." />
	<meta name="twitter:image" content="https://tkckitchens.co.uk/static/imgs/favicon.png" />
	<meta property="og:image" content="https://tkckitchens.co.uk/static/imgs/favicon.png" />
	

</head>
<body>
<div class="top-header container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <i class="fa fa-phone"></i><span class="tab">08001182291</span>
        </div>
        <div class="col-lg-6">
            <i class="far fa-envelope"></i><span class="tab">service@tkckitchens.co.uk</span>
        </div>
        <div class="col-lg-4 right-col">
            <form class="m-0 d-flex align-self-center" action="/searchresults/" method="POST">
                <input type="hidden" name="csrfmiddlewaretoken" value="z2mFKNvxiyo03RcWKS0J7sgKdnRZ1AHSmizS9z5mTM8p1MmV1N3yYuGb2mLiRKRu">
            <button class="btn btn-success" style="background-color: transparent;border: 0;">
                <i class="fas fa-search" style="color: #707070;"></i>                
            </button>
                <input type="text" name="search" placeholder="Search..." class="form-control">
            </form>
        </div>
        </div>
    </div>
</div>
            <!--<div id='top-bar' class="align-self-center d-flex justify-content-around" style="width: 40%">
                

                

                <a href="/login/" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Login</a>
                <a href="/signup/" class="a_btn" style="text-decoration: none;color: black;font-weight: 500">Register</a>

                

            </div>-->
                <!--<form class="m-0 d-flex align-self-center" action="/searchresults/" method="POST">
                    <input type="hidden" name="csrfmiddlewaretoken" value="z2mFKNvxiyo03RcWKS0J7sgKdnRZ1AHSmizS9z5mTM8p1MmV1N3yYuGb2mLiRKRu">
                <input type="text" name="search" placeholder="Search..." class="form-control">
                <button class="btn btn-success">
                    <i class="fas fa-search"></i>

                </button>
                </form>-->











<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
    data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="justify-content:center">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ourkitchens/">Kitchen Styles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            WorkTops
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
            <a class="dropdown-item" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
            <a class="dropdown-item" href="/worktop/stone-worktops/">Stone Worktops</a>
            
            <a class="dropdown-item" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
            <a class="dropdown-item" href="/worktop/wood-worktops/">Wood Worktops</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Appliances
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <a class="dropdown-item" href="/appliances/cooker-hood/">Cooker Hood</a>
            
            <a class="dropdown-item" href="/appliances/cooking/">Cooking</a>
            
            <a class="dropdown-item" href="/appliances/refrigeration/">Refrigeration</a>
            
            <a class="dropdown-item" href="/appliances/laundry/">Laundry</a>
            
            <a class="dropdown-item" href="/appliances/dishwashers/">Dishwashers</a>
            
            <a class="dropdown-item" href="/appliances/hobs/">Hobs</a>
            
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/installationservice/">Installation</a>
            <a class="dropdown-item" href="/designservice/">Design</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="#">
            Kitchen Trends
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/trends/">Trends</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/wirework/">Wirework</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/bins/">Bins</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/lighting/">Lighting</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
            <a class="dropdown-item" href="/kitchen-accessories/handles/">Handles</a>
            
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contactus/">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart/"><i class="fa fa-shopping-cart"></i></a>
          
        </li>
        
        
        <li class="nav-item">
          <a href="/login/" class="btn">Login</a>
        </li>
        <li class="nav-item">
          <a href="/signup/" class="btn">Register</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>














<!--<div class="d-flex justify-content-center p-4 mt-2 bg-white desktop" id="second_bar" >
    <div class="d-flex justify-content-around" style="width: 70%">
        <a href="/" style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" class="a_btn">Home</a>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"

               class=" a_btn " href="/ourkitchens/">Kitchen Styles</a>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu p-0">
              
                <a class="dropdown-item dropHover" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/stone-worktops/">Stone Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/wood-worktops/">Wood Worktops</a>
            

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu p-0">
              
                <a class="dropdown-item dropHover" href="/appliances/cooker-hood/">Cooker Hood</a>
            
                <a class="dropdown-item dropHover" href="/appliances/cooking/">Cooking</a>
            
                <a class="dropdown-item dropHover" href="/appliances/refrigeration/">Refrigeration</a>
            
                <a class="dropdown-item dropHover" href="/appliances/laundry/">Laundry</a>
            
                <a class="dropdown-item dropHover" href="/appliances/dishwashers/">Dishwashers</a>
            
                <a class="dropdown-item dropHover" href="/appliances/hobs/">Hobs</a>
            

          </div>
        </div>


        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu p-0">
                <a class="dropdown-item dropHover a_btn" href="/installationservice/">Installation</a>
                <a href="/designservice/" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class=" a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="/trends/" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              
                <a class="dropdown-item dropHover" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/wirework/">Wirework</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/bins/">Bins</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/lighting/">Lighting</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/handles/">Handles</a>
            

          </div>
        </div>

        <a style="color:inherit;font-weight: 600;text-decoration: none;cursor:pointer;" href="/contactus/" class="a_btn">Contact Us</a>
        <a href="/cart/" style="font-weight: 600;text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center"><img src="/static/Svg/cart2.svg" height="20px" alt="Cart svg"></a>
        
    </div>
</div>








    <div class="text-center my-3 menu" >
        <a class="p-1 pl-2 pr-2 " onclick="mobile_click(event)"
           style="border: 1px solid rgb(46, 154, 13);color: rgb(46, 154, 13);border-radius: 8px;
           width: fit-content">Menu</a>
    </div>



    <div id="menu_div" class="fade-out-menu text-center" style="visibility: hidden;height: 0">

            <div class="text-center py-2">
                <a href="/" style="text-decoration: none;cursor:pointer;"
                class="text-secondary d-block pb-1 mb-2 border-bottom">Home</a>
            </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"

               class="text-secondary a_btn " href="/ourkitchens/">Kitchen Styles</a>

        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">WorkTops</a>

          <div class="dropdown-menu">
              
                <a class="dropdown-item dropHover" href="/worktop/solid-surface-worktops/">Solid Surface Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/solid-laminate-worktops/">Solid Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/stone-worktops/">Stone Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/laminate-worktops/">Laminate Worktops</a>
            
                <a class="dropdown-item dropHover" href="/worktop/wood-worktops/">Wood Worktops</a>
            

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Appliances</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
              
                <a class="dropdown-item dropHover" href="/appliances/cooker-hood/">Cooker Hood</a>
            
                <a class="dropdown-item dropHover" href="/appliances/cooking/">Cooking</a>
            
                <a class="dropdown-item dropHover" href="/appliances/refrigeration/">Refrigeration</a>
            
                <a class="dropdown-item dropHover" href="/appliances/laundry/">Laundry</a>
            
                <a class="dropdown-item dropHover" href="/appliances/dishwashers/">Dishwashers</a>
            
                <a class="dropdown-item dropHover" href="/appliances/hobs/">Hobs</a>
            

          </div>
        </div>


        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Services</a>

          <div class="dropdown-menu pb-1 mb-2 border-bottom">
                <a class="dropdown-item dropHover a_btn" href="/installationservice/">Installation</a>
                <a href="/designservice/" class="dropdown-item dropHover a_btn">Design</a>
          </div>
        </div>

        <div class="btn-group d-block py-2 mb-2 border-bottom">
            <a style="font-weight: 600;text-decoration: none;cursor:pointer;color:inherit"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
               class="text-secondary a_btn dropdown-toggle">Kitchen Trends</a>

          <div class="dropdown-menu p-0">
	          <a href="/trends/" style="text-decoration: none;cursor:pointer;" class="dropdown-item dropHover">Trends</a>

              
                <a class="dropdown-item dropHover" href="/kitchen-accessories/cutler-tray/">Cutler Tray</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/wirework/">Wirework</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/bins/">Bins</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/lighting/">Lighting</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/sinks-taps/">Sinks &amp; Taps</a>
            
                <a class="dropdown-item dropHover" href="/kitchen-accessories/handles/">Handles</a>
            

          </div>
        </div>

        <div class="py-2">
            <a style="text-decoration: none;cursor:pointer;" href="/contactus/" class="text-secondary d-block pb-1 mb-2 border-bottom">Contact Us</a>
        </div>


        <div class="py-2">
	        <a href="/cart/" style="text-decoration: none;cursor:pointer;color: black" class="a_btn align-self-center d-block pb-1 mb-2 border-bottom"><img src="/static/Svg/cart2.svg" height="20px" alt="Cart svg"></a>
	        
        </div>

    </div>-->






<!-- banner -->
<div class="container-fluid design-banner">
  <div class="design-benner-content">
    <br /><br /><br /><br /><br />
    <h2>Full Kitchen Installation</h2>
    <h3>Service Overview</h3>
    <div class="design-banner-btn">
      <a
        class="btn btn-success design-contact-btn"
        href="/contactus/"
        style="border-radius: 50px"
        >Contact Us</a
      >
      <button
        data-target="#modal1"
        data-toggle="modal"
        class="btn btn-lg video-btn"
      >
        Watch Video &nbsp;<i
          class="fa fa-play"
          style="
            background-color: white;
            border-radius: 50px;
            padding: 2.5px;
            color: green;
            font-size: 10px;
          "
        ></i>
      </button>
    </div>
  </div>
</div>
<!-- video modal -->
<div
  class="modal fade"
  id="modal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <video
            src="/static/videos/install4.mp4"
            autoplay
            muted
            id="video"
            controls
            style="width:100%;text-align:center"
          ></video>
        </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button
          type="button"
          class="btn btn-outline-primary btn-rounded btn-md ml-4"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
<!-- video modal ends -->

<!-- services -->
<div class="row p-2 mt-5" style="width: 90%; margin: auto">
  <div class="col-md-3 my-2">
    <div class="card hoverEffect shadow" style="max-width: 90%">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2
            style="font-weight: 800"
            class="card-title m-0 align-self-center counter-count"
          >
            4000+
          </h2>
          <i
            class="far fa-handshake align-self-center"
            style="font-size: xx-large"
          ></i>
        </div>
        <p style="font-weight: 500" class="text-left m-0">Satisfied Clients</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 my-2">
    <div class="card hoverEffect shadow" style="max-width: 90%">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2
            class="card-title m-0 align-self-center counter-count"
            style="font-weight: 800"
          >
            110
          </h2>
          <i
            class="far fa-handshake align-self-center"
            style="font-size: xx-large"
          ></i>
        </div>
        <p style="font-weight: 500" class="text-left m-0">Design Plans</p>
      </div>
    </div>
  </div>

  <div class="col-md-3 my-2">
    <div class="card hoverEffect shadow" style="max-width: 90%">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2
            class="card-title m-0 align-self-center counter-count"
            style="font-weight: 800"
          >
            1250+
          </h2>
          <i
            class="far fa-handshake align-self-center"
            style="font-size: xx-large"
          ></i>
        </div>
        <p style="font-weight: 500" class="text-left m-0">
          Combined Experience
        </p>
      </div>
    </div>
  </div>

  <div class="col-md-3 my-2">
    <div class="card hoverEffect shadow" style="max-width: 90%">
      <div class="card-body">
        <div class="d-flex justify-content-between">
          <h2
            class="card-title m-0 align-self-center counter-count"
            style="font-weight: 800"
          >
            300+
          </h2>
          <i
            class="far fa-handshake align-self-center"
            style="font-size: xx-large"
          ></i>
        </div>
        <p style="font-weight: 500" class="text-left m-0">Completed Projects</p>
      </div>
    </div>
  </div>
</div>
<!-- services ends -->

<!--Our kitchens paragraph -->

<div class="container-fluid our-kitchens-paragraph">
  <div class="container">
    <p>
      We know how discomforting and time-consuming it can be for homeowners to
      install their fitted kitchen especially for those who have never done the
      installation before. Our kitchen installation service will save your
      precious time and also does not require you to put any effort in the
      process. We make installation of kitchen units an easy-breezy task without
      creating any buzz.
    </p>
    <p>
      Our team of experienced fitters would do their best to minimize any sort
      of discomfort and hasten the process so that you can enjoy the peaceful &
      time-saving installation. Your kitchen will be pre-planned and then
      surveyed to ensure a smooth installation. Our packaging processes and
      delivery will also ensure the kitchen project will be completed in a
      timely manner. We make sure that while entering your kitchen, you feel as
      energetic to see the fittings as you were at the time of purchasing these.
    </p>
  </div>
</div>
<!-- our kitchen paragraph ends -->

<!-- Work experience cards -->

<div class="container-fluid work-exp-cards">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="img1.jfif"
          width="100%"
          height="298px"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">This is how it begins</h5>
          <p>
            From planning and designing to installation, we cover the series of
            steps while ensuring the satisfaction of our precious customers.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="img1.jfif"
          width="100%"
          height="298px"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Clean work flow</h5>
          <p>
            It is our utmost responsibility to get all the necessary
            reconnections & disconnections done in a clean & certified way.
          </p>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="img1.jfif"
          width="100%"
          height="298px"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">There is experience out there</h5>
          <p>
            With the help of our qualified and diligent team, we create
            breath-taking & fully functional kitchen designs with a reasonable
            timeframe.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- work experience cards ends -->

<!-- client relationship -->

<div class="container client-relation">
  <h1>Client Relationship</h1>
  <br />
  <p>
    We are fond of listening to our clients, their kitchen design ideas, their
    creativity prowess, and the designs that inspire them. We love to see the
    excitement that our customers put into while talking to our design team. For
    a successful kitchen design project, it is crucial to have stronger
    relationships and collaboration with the customers. A friendly, responsive
    and warm consultation team is committed to serve the queries of our
    customers.
  </p>
</div>

<!-- client relation ends -->
<!-- our story -->
<div class="container-fluid design-offer">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-center">
        <video id="video1" controls muted width="100%">
          <source
            src="/static/videos/kitchen-carpenter-handmade-fitting%20720p%2030fps.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="col-lg-6">
        <div style="margin: auto">
          <h3>Our Story</h3>
          <p>
            We believe in creativity as one of the major forces of progress.
            With this idea, we traveled throughout country to find exceptional
            artisans and bring their unique handcrafted objects to connoisseurs
            everywhere.
          </p>
          <p>
            You’ve finally reached this point in your life- you’ve bought your
            first home, moved into your very own apartment, moved out of the
            student accommodation or you’re finally downsizing after all of your
            kids have left the nest.
          </p>
          <a
            style="background-color: white; color: rgb(46, 154, 135)"
            href="/HireinstallationService/"
            class="btn"
            >Installation services</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<!-- our story ends -->

<!-- installation guide -->

<div class="container-fluid installation-guide">
  <h1>Kitchen Installation Guides</h1>
  <p>Easy to follow video guidelines to install kitchen units.</p>
  <br />
  <div class="row">
    <div class="col-lg-6 left-col">
      <video
        src="/static/videos/Pull%20out%20larder.mp4"
        class="mt-3 video"
        width="100%"
        controls
        muted
      ></video>
    </div>
    <div class="col-lg-6 right-col">
      <video class="mt-3 video" controls muted width="100%">
        <source
          src="/static/videos/kitcehn%20fittings%20720p%2030fps.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</div>

<!-- installation guide ends -->

<!---->




<div class="modal fade" id="news">
    <div class="modal-dialog modal-dialog-centered">
        <div style="border: 4px solid green!important;" class="modal-content">
            <div class="modal-header">
                <h4 id="msg" class="text-center"></h4>

            </div>
        </div>

    </div>
</div>



<div class="bg-dark text-white p-4" id="footer">
    <div class="p-4" id="footer" style="width: 90%;margin: auto">
    <div class="row pb-2 m-0" id="search_in">
        <div class="col-lg-6 align-content-middle p-0" id="search_in">
            <h3 class="m-0 p-2">Signup for our Newsletter</h3>
        </div>

        <div class="col-lg-6 d-flex justify-content-right align-self-center" id="search_in" >
            <input type="email" placeholder="Your Email"  class="form-control" id="search_in" style="width: 50%!important;">
            <button data-target="#news" data-toggle="modal" onclick="subscribe1(event)" class=" btn btn-success " style="height: 70%">Subscribe</button>
                        <p id="sub" class="ml-2 align-self-center m-0"></p>
        </div>
    </div>
    <hr class="bg-white"/>
    <div class="d-flex justify-content-around block">
        <div class="">
            <p><i class="fas fa-map-marker-alt"></i><span class="p-2">5 Piccadilly Place, Manchester, M1 3BR</span></p>
            <p><i class="fas fa-phone-alt align-self-center"></i><a style="color:inherit;text-decoration: none" href="tel:+08002118289" class="m-0 p-2">08001182291</a></p>
            <p><i class="fas fa-envelope align-self-center"></i><a style="color: inherit;text-decoration: none;" href="https://mail.google.com/mail/?view=cm&fs=1&to=service@tkckitchens.co.uk" class="m-0 p-2">service@tkckitchens.co.uk</a></p>
            <div class="my-3">
	            <img src="img1.jfif" loading="lazy" id="pay" width="100%" height="50px" alt="tkc-kitchen payment">
            </div>


        </div>
        <div class="align-self-baseline">
            <p>
                <a style="text-decoration: none;color: inherit" href="/terms-and-conditions/" class="a_btn mb-2">Terms & conditions</a>
</p>
            <p><a style="text-decoration: none;color: inherit" href="/shipping-policy/" class="a_btn mb-2">Shipping and Delivery policy</a></p>
            <p><a class="a_btn" href="/contactus/" style="text-decoration: none;color: inherit">Customer Service</a>
</p>
            <p><a href="/FAQ/" class="a_btn" style="color: inherit;text-decoration: none">FAQs</a></p>
        </div>
        <div class="">
            <p><a href="/return-refund/" class="a_btn" style="color: inherit;text-decoration: none">Return & Refund policy</a></p>
            <p><a href="/Cancellation-policy/" class="a_btn" style="color: inherit;text-decoration: none">Cancellation policy</a></p>
            <p><a href="/GDPR/" class="a_btn" style="color: inherit;text-decoration: none">GDPR policy</a></p>
            <p><a href="/Cookies/" class="a_btn" style="color: inherit;text-decoration: none">Cookies policy</a></p>
            <p><a href="/intellectual-property-notification/" class="a_btn" style="color: inherit;text-decoration: none">Intellectual property notification</a></p>
            <p><a href="/disclaimer/" class="a_btn" style="color: inherit;text-decoration: none">Disclaimer policy</a></p>
            <p><a class="a_btn" style="color: inherit;text-decoration: none">Ziegal Ltd(10914681)</a></p>

        </div>
        <div class="">
            <a href="https://www.facebook.com/tkckitchens.co.uk" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-facebook-f"></i><span class="pl-2">Facebook</span></a>
            <a href="https://www.pinterest.co.uk/TKCkitchens/_created/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-pinterest-p"></i><span class="pl-2">Pinterest</span></a>
            <a href="https://www.instagram.com/tkckitchens.co.uk/" class="d-block" style="margin-bottom: 1rem;color: inherit;text-decoration: none"><i class="fab fa-instagram"></i><span class="pl-2">Instagram</span></a>
        </div>
    </div>
</div>
    <p class="text-center border-top border-bottom m-0 p-3">Copyright&copy; 2021 TKC KITCHENS</p>

</div>


<!--Start of Tawk.to Script-->
<script async type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/609415aab1d5182476b65aae/1f51799m6';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
</body>
    <!-- Global site tag (gtag.js) - Google Analytics -->

<!-- Facebook Pixel Code --><!-- End Facebook Pixel Code -->

<script async type="text/javascript" src="/static/js/index.js">
</script>

<!-- mobile menu js 
<script>
     function mobile_click(e) {
        const menu = document.getElementById('menu_div')
		if (menu.style.visibility === 'hidden') {

            menu.style.height = 100+'%'
            menu.classList.remove('fade-out-menu')
            menu.classList.add('fade-in-menu','p-5')
            menu.style.visibility = 'visible'
        }
        else{

            menu.style.height = 0

            menu.classList.remove('fade-in-menu','p-5')
            menu.classList.add('fade-out-menu')
            menu.style.visibility = 'hidden'
        }

    }

      if (window.innerWidth<1161) {
        const pay = document.getElementById('pay')
            pay.style.height = 35 + 'px'
            pay.style.width = 90 + '%'

    }


</script>-->

<script>
	function recaptchaCallback() {
        document.getElementById('captchaBtn').removeAttribute('disabled')
	}
</script>
<!-- Facebook Pixel Code --><script>!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,document,'script','https://connect.facebook.net/en_US/fbevents.js'); fbq('init', '244190073982241'); fbq('track', 'PageView');</script><noscript> <img height="1" width="1" alt="Facebook" src="https://www.facebook.com/tr?id=244190073982241&ev=PageView&noscript=1"/></noscript><!-- End Facebook Pixel Code -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-WKLM57GY6R"></script>
    <script async>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-WKLM57GY6R');
    </script>

<script>
  const video = document.getElementById("video1");
  const video3 = document.getElementById("video3");
  const video4 = document.getElementById("video4");

  window.addEventListener("scroll", () => {
    const sides = video.getBoundingClientRect();
    const side3 = video3.getBoundingClientRect();
    const side4 = video3.getBoundingClientRect();
    if (
      sides.top >= 0 &&
      sides.left >= 0 &&
      sides.right <=
        (window.innerWidth || document.documentElement.clientWidth) &&
      sides.bottom <=
        (window.innerHeight || document.documentElement.clientHeight)
    ) {
      video.play();
    }
    if (
      side3.top >= 0 &&
      side3.left >= 0 &&
      side3.right <=
        (window.innerWidth || document.documentElement.clientWidth) &&
      side3.bottom <=
        (window.innerHeight || document.documentElement.clientHeight)
    ) {
      video3.play();
    }
    if (
      side4.top >= 0 &&
      side4.left >= 0 &&
      side4.right <=
        (window.innerWidth || document.documentElement.clientWidth) &&
      side4.bottom <=
        (window.innerHeight || document.documentElement.clientHeight)
    ) {
      video4.play();
    }
  });
</script>
<!---->

</html>
